*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

/*.preload{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #77b3d4;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s ease-in-out;
}

.preload img {
  animation: spin 3s ease-in-out;
  transition: all;
  width: 150px;
  margin: 0 auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }}
*/


nav{
    position: absolute;
    top: 0%;
    background-color: rgb(216, 185, 195,0.7);
    width: 100%;
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #240f44;
    font-weight: bold;
    font-size: 30px;
}

p{
display: flex;
font-weight: bold;

font-family: 'Courier New', Courier, monospace;
}

ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-right: 30px;

}
ul li a{
  font-family: 'Snowburst One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  
    text-transform: uppercase;
    margin: 0 15px;
    color: #240f44
    transition .5s;
}

ul li a:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3px;

}

main{
    
   font-family: 'Snowburst One', cursive;
   background: linear-gradient(125deg,#4b6b8a,#208f4e,#236d9e,#a7372a,#8841a7);
   background-size: 500%;
   animation: bgAnimation 15s linear infinite;
   align-items: center;
   justify-content:first baseline;
   display: flex;
   color: white;
   font-style: italic;

}
@keyframes bgAnimation {
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
.welcome{
align-items: center;
display: flex;
width: 50%;
height: 550px;
font-size: 50px;
font-weight: 100;
margin: 50px;
padding-left: 100px;

}

.logo{
height: 25px;

}




.img{
justify-content: center;
position:relative;
display: flex;
height: 400px;
padding-left: 100px;
padding-top: 100px;
animation: loli 4s ease-in-out infinite;
}

@keyframes loli {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50px);
  }
  
}

.shadow{
background-color: rgba(0, 0, 0, 0.15);
width: 150px;
height: 40px;
border-radius: 50%;
position: absolute;
margin-left: 150px;
filter: blur(1px);
animation: shadow 4s ease-in-out infinite;
}

@keyframes shadow {
0%, 100%{
  transform: scale(0.8);
}
50%{
  transform: scale(0.5);
}
}


.body {
   display: flex;
   flex-wrap: wrap;
    background-color:#240f44;

  }
  
  #pic img:hover{
    border: 5px double rgb(255, 255, 255,0.7);

  }
  
  #pic{
    display: flex
;
  }
  #pic img{
   height:100%;
    width: 30%;
margin-top: 100px;
margin-left: 20%;
display: flex;}

#pic2 img{
  height: 100%;
   width: 30%;
margin-left: 20%;

float: left;
}

#pic3 img{
  height: 100%;
   width: 30%;
margin-left: 20%;
margin-bottom: 100px;
float: left;
padding-bottom: 100px;
}

  .casestudy {
color: aliceblue;
  }

  
  #righttop  {
    display: flex;
    float: left;
    margin-right:  20%;
      margin-top: 100px;
      text-align: center;
      font-size: 20px;
      width: 30%;
    padding: 130px 30px 130px 30px ;
    color: #090931;
    background-color: rgba(238, 223, 241, 0.432);
      }

      #leftmiddle  {
        display: flex;
        float: left;
        margin-right: 20%;
          text-align: center;
          font-size: 24px;
          width: 30%;
          height: 100%;
        padding: 130px 30px 130px 30px ;
        color: #d9c6e0;
        background-color: rgb(255, 255, 255,0.2);
          }
  
          #rightbottom  {
            display: flex;
            float: left;
            height: 100%;
            margin-right: 20%;
              text-align: center;
              font-size: 24px;
              width: 30%;
            padding: 130px 30px 130px 30px ;
            color: #090931;
    background-color: rgba(238, 223, 241, 0.432);
              }


          #leftbottom2 {
            display: flex;
            float: left;
            height: 82%;
            margin-right: 20%;
              text-align: center;
              font-size: 24px;
              width: 30%;
            padding: 130px 30px 130px 30px ;
            color: #d9c6e0;
            background-color: rgb(255, 255, 255,0.2);
              }

footer{
  background-color: #240f44;
color: #d8b9c3;
font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;  height: 200px;
 
}


.CONTAINER{
justify-content: space-evenly;
}

.footerleft{
  padding-left: 50px;
    float: left;
    margin-top: 0;
}
.footerright{
  float: right;
  margin-top: 0;
  padding-right: 300px;
}


.footerright a{
    display: flex;
   justify-content: center;
    color: #d8b9c3;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 px;
    transition: .5s;
    width: 100px;
    
}

.span{
margin-left: 20px;
}

.a{
align-items: right;


}
.footerright a:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3px;
  
}

#about {
  margin-top: 10px 10px;
  background-color: #cfc1cf;
  display: flex;
align-items: center;
width: 100%;
height: 300px;  
}

#contact {
color: #efeff8;
  background-color: #2a1147;
  display: flex;
padding-bottom: 80px;
padding-top: 80px;
width: 100%;
 
justify-content: center;
}

#contact input,
#contact textarea{
width: 100%;
padding: 10px;
border: 1px solid black;
}
.container2{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;

font-size: medium;
}
.infoleft{
  display: left;
 padding: 0%;
}

.inforight{
  display: flex;
 
 
}

@media only screen and (max-width: 600px) {
  #about {
    background-color: #363062;
    color: #240f44;
    
  }

  .container2{
    display: flex;
  width: 100%;
  height: 100px;
font-size: medium;
  }
}

.space{
  padding-top: 5px;

}

.box {
width: 100%;
height: 50px;
background: linear-gradient(125deg,#4b6b8a,#208f4e,#236d9e,#a7372a,#8841a7);
background-size: 500%;
animation: bgAnimation 15s linear infinite;
}
@keyframes bgAnimation {
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
.text{
  color: white;
width: auto;
line-height: 50px;
white-space: nowrap;
animation: textscroll 20s linear infinite;
}

@keyframes textscroll {
  
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-100%);
  }


};


